body {
    background: url('/static/gif/background.gif') no-repeat center center fixed;
    background-size: cover;
}

.main_button {
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 40% 60%;
    justify-content: center;
    margin-top: 31vh;
}

.lab-button {
    width: 100%;
    height: 100%;
    padding: 14px 32px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #fff;
    border: none;
    background: none;
    /* Remove background from button itself */
    cursor: pointer;
}

[class^="button-container-"] {
    height: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, background 0.2s;
}

[class^="button-container-"]:hover {
    transform: scale(1.05);
}

.button-container-1 {
    background: linear-gradient(90deg, #000000 0%, #dc1515 100%);
}

.button-container-1:hover {
    background: linear-gradient(90deg, #dc1515 0%, #000000 100%);
}

.button-container-2 {
    background: linear-gradient(90deg, #dc1515 0%, #000000 100%);
}

.button-container-2:hover {
    background: linear-gradient(90deg, #000000 0%, #dc1515 100%);
}

.button-container-3 {
    background: linear-gradient(90deg, #000000 0%, #800080 100%);
}

.button-container-3:hover {
    background: linear-gradient(90deg, #800080 0%, #000000 100%);
}

.button-container-4 {
    background: linear-gradient(90deg, #800080 0%, #000000 100%);
}

.button-container-4:hover {
    background: linear-gradient(90deg, #000000 0%, #800080 100%);
}

.button-container-5 {
    background: linear-gradient(90deg, #000000 0%, #00ff00 100%);
}

.button-container-5:hover {
    background: linear-gradient(90deg, #00ff00 0%, #000000 100%);
}

.button-container-6 {
    background: linear-gradient(90deg, #00ff00 0%, #000000 100%);
}

.button-container-6:hover {
    background: linear-gradient(90deg, #000000 0%, #00ff00 100%);
}