<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>ИиУВМ</title>
    <link rel="stylesheet" href="/static/main_menu.css">
</head>

<body>
    <div class="main_button">
        <div class="button-container-1">
            <button class="lab-button" onclick="window.location.href='/lab01'">1-st Lab</button>
        </div>
        <div class="button-container-2">
            <button class="lab-button" onclick="window.location.href='/lab02'">2-nd Lab</button>
        </div>
        <div class="button-container-3">
            <button class="lab-button" onclick="window.location.href='/lab03'">3-rd Lab</button>
        </div>
        <div class="button-container-4">
            <button class="lab-button" onclick="window.location.href='/lab04'">4-th Lab</button>
        </div>
        <div class="button-container-5">
            <button class="lab-button" onclick="window.location.href='/lab05'">5-th Lab</button>
        </div>
        <div class="button-container-6">
            <button class="lab-button">6-th Lab</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/main_menu.js"></script>
</body>

</html>