<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>ИиУВМ</title>
    <link rel="stylesheet" href="/static/main_menu.css">
</head>

<body>
    <div class="main_button">
        <button class="lab_button_1">1-st Lab</button>
        <button class="lab_button_2">2-nd Lab</button>
        <button class="lab_button_n">3-rd Lab</button>
        <button class="lab_button_n">4-th Lab</button>
        <button class="lab_button_n">5-th Lab</button>
        <button class="lab_button_n">6-th Lab</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/main_menu.js"></script>
</body>

</html>